# Dependency directory
node_modules/

# Documentation directory
docs/

# Source directory
# src/
examples/
mocha/

# Build directory
dist/examples/
dist/mocha/

# Sourcemap, log, packed files
# *.map
*.log
*.tgz
*.test.ts
*.test.d.ts
*.test.js
*.test.js.map

# Ignore files
.gitignore
.npmignore

# Build configuration files
.github/
tsconfig.json
.mocharc.yml

# Editor configuration files
.vscode/
